// COLORS

$old-lavender: #7A596Fff;
$salmon: #FF806Dff;
$lightPink : #FCE8E8;
$coyote-brown: #816129ff;
$black: #000000ff;
$veryLightGray: #fafafa;
$white: #ffffff;

// FONTS

$font-sm: 0.875rem; //14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem; // 20px
$font-xlg: 3.25rem; // 